body { 
  background: url(https://deliciousvegrecipes.files.wordpress.com/2014/11/dsc04371.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

