<div style="margin:10px;padding:10px;" class="container">
	<div style="margin:0px;" class="row">	
		<div class="col-md-12">
	    <div style="letter-spacing:1px;">
	      <h5 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Add Loyalty Scheme</h5>
	    </div>
	    <hr size=3 width="100%;" style="height:1px; margin-top: 0px; margin-bottom:0px;" noshade>
	    <br>
	    <div class="row" style="margin:0px;">
	    	<div style="padding:0px;" class="col-md-12">
	    		<form class="css-form" name="form.addLoyaltyScheme" role="form" novalidate>
		    		<table class="table table-condensed">
		    			<tbody>
		    				<tr>
			    				<td width="20%;">
			    					<select style="text-transform:capitalize;font-size:13px;" type="text" name="provider" class="form-control" ng-model="loyalty.providername" ng-options="provider as provider.providername for provider in My_provider_list" ng-change="getBranchesForSeller(loyalty.providername)" required>
							        <option value="" selected>----select seller-----</option>
							      </select>
							      <small style="color:red;" ng-show="((form.addLoyaltyScheme.provider.$dirty && form.addLoyaltyScheme.provider.$invalid) || (form.addLoyaltyScheme.provider.$invalid && form.addLoyaltyScheme.submitted))">*Please select provider from the dropdown list.</small>
			    				</td>
			    				<td width="20%;">
			    					<select style="text-transform:capitalize;font-size:13px;" type="text" name="branch" class="form-control" ng-model="loyalty.branchname" ng-options="branch as branch.branchname for branch in providers_branch_list" required>
							        <option value="" selected>----select branch-----</option>
							      </select>
							      <small style="color:red;" ng-show="((form.addLoyaltyScheme.branch.$dirty && form.addLoyaltyScheme.branch.$invalid) || (form.addLoyaltyScheme.branch.$invalid && form.addLoyaltyScheme.submitted))">*Please select branch from the dropdown list.</small>
			    				</td>
			    				<td width="15%;">
			    					<input style="text-transform:capitalize;font-size:13px;" type="number" name="loyaltypoint" min='1' class="form-control" placeholder="loyalty points" ng-model="loyalty.point" required>
			    					<small style="color:red;" ng-show="((form.addLoyaltyScheme.loyaltypoint.$dirty && form.addLoyaltyScheme.loyaltypoint.$invalid) || (form.addLoyaltyScheme.loyaltypoint.$invalid && form.addLoyaltyScheme.submitted))">*Please enter loyalty points in numbers only.</small>
			    				</td>
			    				<td width="15%;">
			    					<input style="text-transform:capitalize;font-size:13px;" type="number" name="loyaltyvalue" min='1' class="form-control" placeholder="loyalty value" ng-model="loyalty.value" required>
			    					<small style="color:red;" ng-show="((form.addLoyaltyScheme.loyaltyvalue.$dirty && form.addLoyaltyScheme.loyaltyvalue.$invalid) || (form.addLoyaltyScheme.loyaltyvalue.$invalid && form.addLoyaltyScheme.submitted))">*Please enter equivalent value for points in numbers only.</small>
			    				</td>
			    				<td width="15%;">
			    					<input style="text-transform:capitalize;font-size:13px;" type="number" name="loyaltyminorderamount" min='0' class="form-control" placeholder="min. loyalty value" ng-model="loyalty.minorderamount" required>
			    					<small style="color:red;" ng-show="((form.addLoyaltyScheme.loyaltyminorderamount.$dirty && form.addLoyaltyScheme.loyaltyminorderamount.$invalid) || (form.addLoyaltyScheme.loyaltyminorderamount.$invalid && form.addLoyaltyScheme.submitted))">*Please enter minimum order amount required for loyalty points or else put 0.</small>
			    				</td>
			    				<td width="15%;">
			    					<button style="width:100%;" class="btn btn-sm btn-primary" ng-click="addLoyaltyScheme(loyalty.providername)">Add</button>
			    				</td>
			    			</tr>
			    		</tbody>
			    	</table>
		    	</form>
		    </div>					
			</div>
		</div>
	</div>
	<div style="margin:0px;" class="row">
		<div class="col-md-12">
			<div style="letter-spacing:1px;">
	      <h5 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">View Loyalty Scheme</h5>
	    </div>
	    <hr size=3 width="100%;" style="height:1px; margin-top: 0px; margin-bottom:0px;" noshade>
	    <br>
	    <div class="row" style="margin:0px;">
	    	<div style="padding:0px;" class="col-md-12">
	    		<p class="text-muted" style="letter-spacing:1px;font-size:13px;font-weight:bold;">
	    			<em>To view loyalty scheme, please select seller from the above dropdown list provided in the 'Add Loyalty Scheme' block.</em>
	    		</p>
	    	</div>
	    	<div style="padding:0px;" class="col-md-12" ng-show="loyalty_schemes_history.length != 0">
	    		<div style="margin:0px;" class="row" ng-repeat="loyaltyscheme in loyalty_schemes_history">
	    			<div style="letter-spacing:1px;">
				      <h5 style=" text-transform:uppercase; color: #1A6496; font-size:12px;font-weight:bold" id="oz-signin-heading">Loyalty Scheme for {{loyaltyscheme.branchname}}</h5>
				    </div>
				    <br>
				    <form class="css-form" name="form.editLoyaltyScheme" role="form" novalidate> 
			    		<table class="table table-hover table-condensed">
			    			<thead>
			    				<tr style=" text-transform:uppercase;letter-spacing:1px;font-size:12px;">
			    					<th width="20%">Loyalty Point</th>
			    					<th width="20%">Loyalty Value</th>
			    					<th width="20%">Minimum Amount</th>
			    					<th></th>
			    					<th></th>
			    					<th></th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr ng-form="editLoyaltyForm" ng-repeat="scheme in loyaltyscheme.scheme">
			    					<td width="20%" ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}">{{scheme.points}}</td>
			    					<td width="20%" ng-show="(editScheme && (CurrentSchemeIndex == {{$parent.$index + '1' + $index}}))">
			                <input style="text-transform:capitalize;font-size:13px;" type="number" name="editloyaltypoint" class="form-control" placeholder="loyalty points" min='1' ng-model="editloyalty.points" required>
			                <small style="color:red;" ng-show="((editLoyaltyForm.editloyaltypoint.$dirty && editLoyaltyForm.editloyaltypoint.$invalid) || (editLoyaltyForm.editloyaltypoint.$invalid && editLoyaltyForm.submitted))">*Please enter loyalty points in numbers only.</small>
			              </td>
			    					<td width="20%" ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}">{{scheme.amount}}</td>
			    					<td width="20%" ng-show="(editScheme && (CurrentSchemeIndex == {{$parent.$index + '1' + $index}}))">
			    						<input style="text-transform:capitalize;font-size:13px;" type="number" name="editloyaltyvalue" class="form-control" placeholder="loyalty points" min='1' ng-model="editloyalty.amount" required>
			                <small style="color:red;" ng-show="((editLoyaltyForm.editloyaltyvalue.$dirty && editLoyaltyForm.editloyaltyvalue.$invalid) || (editLoyaltyForm.editloyaltyvalue.$invalid && editLoyaltyForm.submitted))">*Please enter equivalent value for points in numbers only.</small>
			    					</td>
			    					<td width="20%" ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}">{{scheme.minamount}}</td>
			    					<td width="20%" ng-show="(editScheme && (CurrentSchemeIndex == {{$parent.$index + '1' + $index}}))">
			    						<input style="text-transform:capitalize;font-size:13px;" type="number" name="editloyaltyminvalue" class="form-control" placeholder="loyalty points" min='0' ng-model="editloyalty.minamount" required>
			                <small style="color:red;" ng-show="((editLoyaltyForm.editloyaltyminvalue.$dirty && editLoyaltyForm.editloyaltyminvalue.$invalid) || (editLoyaltyForm.editloyaltyminvalue.$invalid && editLoyaltyForm.submitted))">*Please enter minimum order amount required for loyalty points or else put 0.</small>
			    					</td>
			    					<td ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}"><button ng-show="!scheme.isActive" style="width:100%;" class="btn btn-primary btn-sm" ng-click="activateLoyaltyScheme(loyalty.providername, loyaltyscheme.branchid, scheme.schemeid)"> Activate </button><button ng-show="scheme.isActive" style="width:100%;" class="btn btn-primary btn-sm" ng-click="deactivateLoyaltyScheme(loyalty.providername, loyaltyscheme.branchid, scheme.schemeid)"> Deactivate </button></td>
			    					<td ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}"><button style="width:100%;" class="btn btn-primary btn-sm" ng-click="enableEditLoyaltyScheme($parent.$index, $index, scheme)"> Edit </button></td>
			    					<td ng-show="CurrentSchemeIndex != {{$parent.$index + '1' + $index}}"><button style="width:100%;"  class="btn btn-danger btn-sm" ng-click="deleteLoyaltyScheme(loyalty.providername, loyaltyscheme.branchid, scheme.schemeid)"> Delete </button></td>
			    					<td ng-show="(editScheme && (CurrentSchemeIndex == {{$parent.$index + '1' + $index}}))"><button style="width:100%;"  class="btn btn-default btn-sm" ng-click="cancelEnableEditLoyaltyScheme()"> Cancel </button></td>
			    					<td ng-show="(editScheme && (CurrentSchemeIndex == {{$parent.$index + '1' + $index}}))"><button style="width:100%;"  class="btn btn-primary btn-sm" ng-click="updateLoyaltyScheme(loyalty.providername, loyaltyscheme.branchid, scheme.schemeid)"> Update </button></td>
			    				</tr>
			    			</tbody>
			    		</table>
			    	</form>	
		    	</div>
	    	</div>
	    	<div style="padding:0px;" class="col-md-12">
	    		<div ng-show="loyalty_schemes_history.length == 0 && loyaltyschemehistory" style="padding:40px; opacity: .8; margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
				    <div class="col-md-12">
				      <div class="no-message">
				        <center>
				          <p style="font-size: 14px;">No loyalty schemes added.</p>      
				          <p style="font-size: 12px;">To get loyalty scheme, please assign loyalty schemes to your branch from above.</p>
				        </center>
				      </div>
				    </div>
				  </div>
	    	</div>
	    </div>	
		</div>
	</div>
</div>