<div style="margin:10px; padding: 10px;" class="loyaltyscheme-outer-container">
	<div class="row" style="margin:0px;">
		<div class="col-md-4">
			<p><strong>Select Provider:</strong></p>
		</div>
		<div class="col-md-8">
			<select style="text-transform:capitalize;" type="text" name="provider" class="form-control" ng-model="provider.name" ng-options="provider as provider.providername for provider in providers_list" ng-change="getLoyaltyHistoryForSeller(provider.name)" required>
        <option value="" selected>----select-----</option>
      </select>
		</div>
	</div>

	<div ng-show="loyaltyAvailable" class="row" style="margin:0px;margin-top:20px;">
		<div class="col-md-4">
			<p><strong>Total Loyalty Points:</strong></p>
		</div>
		<div class="col-md-8">
			<p class="">{{loyalty_history.loyalty_points}}</p>
		</div>
	</div>

	<div ng-show="loyaltyNotAvailable" style="padding:20px; opacity: .8; margin:20px; margin-bottom: 1px; color: rgb(80, 74, 74);background-color:#F1F1F1; letter-spacing: 1px;" class="row">
    <div class="col-md-12">
      <div class="no-message">
        <center>
          <p style="font-size: 15px;" class="text-info">Loyalty Points does not exist for this seller.</p>      
        </center>
      </div>
    </div>
 	</div>

	<div class="row" style="margin:0px;margin-top:30px;">
		<div class="col-md-12">
      <div style="letter-spacing:1px;">
        <h5 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Credit Loyalty</h5>
      </div>
      <hr size=3 width="100%;" style="height:1px; margin-top: 0px; margin-bottom:0px;" noshade>
      <br>
      <div class="row" style="margin:0px;">
      	<div style="padding:0px;" class="col-md-12">
      		<form class="css-form" name="form.addLoyalty" role="form" novalidate>
      		<table class="table table-condensed">
      			<tbody>
      				<tr>
      					<td width="30%">
      						<input style="font-size:13px;" class="form-control" name="loyaltypoints" type="number" min='1' placeholder="loyalty points to credit" ng-model="loyaltypoints.value" required>
      						<small style="color:red;" ng-show="((form.addLoyalty.loyaltypoints.$dirty && form.addLoyalty.loyaltypoints.$invalid) || (form.addLoyalty.loyaltypoints.$invalid && form.addLoyalty.submitted))">*Please enter loyal points to credit or debit from sellers account.</small>
      					</td>
      					<td width="30%">
      						<input style="font-size:13px;" class="form-control" name="loyaltyremarks" type="text" placeholder="loyalty remarks" ng-model="loyaltypoints.remark">
      					</td>
      					<td width="20%">
      						<select style="font-size:13px;" type="text" name="provider" class="form-control" ng-model="loyaltypoints.payment" ng-options="payment_mode for payment_mode in payment_modes">
					        	<option value="" selected>----select-----</option>
					      	</select>
					      </td>
					      <td width="10%">
					      	<button style="width:100%;" class="btn btn-primary btn-sm " ng-click="manageLoyaltyPoints(provider.name, 'add');"><i class="fa fa-plus"></i>&nbsp;Add</button>
					      </td>
					      <td width="10%">
					      	<button style="width:100%;" class="btn btn-danger btn-sm " ng-click="manageLoyaltyPoints(provider.name, 'remove');"><i class="fa fa-trash-o"></i>&nbsp;Remove</button>
					      </td>
      				</tr>
      			</tbody>
      		</table>
      		</form>
      	</div>
      </div>
    </div>
	</div>

	<div ng-show="loyalty_history.history.length > 0" class="row" style="margin:0px;margin-top:30px;">
		<div class="col-md-12">
      <div style="letter-spacing:1px;">
        <h5 style=" text-transform:uppercase; color: #8A847C;" id="oz-signin-heading">Loyalty History For {{provider.name.providername}}</h5>
      </div>
      <hr size=3 width="100%;" style="height:1px; margin-top: 0px; margin-bottom:0px;" noshade>
      <br>
      <div class="row" style="margin:0px;">
      	<div style="padding:0px;" class="col-md-12">
      		<table class="table table-hover">
      			<thead>
      				<tr>
      					<th style=" text-transform:uppercase;">Date</th>
      					<th style=" text-transform:uppercase;">Loyalty Points</th>
      					<th style=" text-transform:uppercase;">Payment Mode</th>
      					<th style=" text-transform:uppercase;">Remarks</th>
      					<th style=" text-transform:uppercase;">Action</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr ng-repeat="history in loyalty_history.history">
      					<td>{{history.date | date:'medium'}}</td>
      					<td>{{history.loyalty_points}}</td>
      					<td>{{history.payment_mode}}</td>
					      <td>{{history.remark}}</td>
					      <td><div style="width:100%;" ng-show="history.action == 'add' " class="label label-success">{{history.action}}</div>
					      <div style="width:100%;" ng-show="history.action == 'remove' " class="label label-danger">{{history.action}}</div></td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
      </div>
    </div>
	</div>

</div>