<div  style = 'border: 1px solid #EEE8E8; padding : 12px ;border-radius: 6px;' class="">

<div >
	<div class="row">
	<div class="col-md-5"><div class="bold">Select Date</div>

 				<p class="input-group"  >
                 <input  id="date"  type="text" placeholder="Select date" ng-model="reportdate" class=" form-control oz-datepickerTextWidth " datepicker-popup="{{format}}"  is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" required close-text="Close" />
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i> </button>
                     </span>
                 </p>

	</div>
		<div class="col-md-5"><div class="bold">Select Provider</div>
		 <p ><select  class=" form-control" ng-options="list as list.providername for list in allOZProvidersList" ng-model="provider1"   ></select></p>
        </div>

        <div class="col-md-2"><br/><p><button ng-click="getReports(reportdate,provider1)" class="btn btn-default"> Get Report</button></p>
        </div>
		
	</div>
</div>

<br/>


</div>
